<div class="row" ng-repeat="priceList in priceListList">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="name">Price List Name:</label>
                    <input type="text" readonly="readonly" class="form-control" id="name" placeholder="Name" value="{{priceList.name}}">
                </div>
            </div>
        </div>
        <!--<span class="pull-left badge">Price List Name:</span> <span class="pull-right badge">{{priceList.name}}</span>-->
    </div>

    <div class="col-lg-12">
        <hr />
    </div>

    <div class="col-lg-12">
        <table class="table">
            <thead>
            <tr>
                <th>Goods Name</th>
                <th>Goods Bar Code</th>
                <th>Goods Category</th>
                <th>Goods Price</th>
                <th>Quantity</th>
                <th>Add</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="goodsInPriceList in priceList.goodsInPriceList">
                    <td>{{goodsInPriceList.goods.name}}</td>
                    <td>{{goodsInPriceList.goods.barCode}}</td>
                    <td>{{goodsInPriceList.goods.category}}</td>
                    <td>{{goodsInPriceList.price}}</td>
                    <td><input ng-model="goods[$index].quantity"/></td>
                    <td><a class="btn btn-default" ng-click="addGoods(goodsInPriceList.goods.id,priceList.id,goods[$index].quantity)">Add Goods</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <hr/>
    </div>
</div>

<div class="row">
    <a class="pull-left btn btn-danger" ng-click="abortOrder()">Abort</a>
    <a class="pull-right btn btn-info" ui-sref="create-new-purchase-order.add-shipment-data-in-purchase-order({'purchaseOrderId': '{{purchaseOrderId}}'})">Next</a>
</div>