<div class="row" ng-repeat="priceList in priceListList">
    <div class="col-lg-12">
        <span class="badge">Price   List Name{{priceList.name}}</span>
    </div>

    <div class="col-lg-12">
        <hr />
    </div>

    <div class="col-lg-12">
        <table class="table">
            <thead>
            <tr>
                <th>Goods Name</th>
                <th>Goods Bar Code</th>
                <th>Goods Category</th>
                <th>Goods Price</th>
                <th>Quantity</th>
                <th>Add</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="goodsInPriceList in priceList.goodsInPriceList">
                    <td>{{goodsInPriceList.goods.name}}</td>
                    <td>{{goodsInPriceList.goods.barCode}}</td>
                    <td>{{goodsInPriceList.goods.category}}</td>
                    <td>{{goodsInPriceList.price}}</td>
                    <td><input ng-model="goods[$index].quantity"/></td>
                    <td><a class="btn btn-default" ng-click="addGoods(goodsInPriceList.goods.id,priceList.id,goods[$index].quantity)">Add Goods</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <a class="btn btn-info" ui-sref="create-new-purchase-order.add-shipment-data-in-purchase-order({'purchaseOrderId': '{{purchaseOrderId}}'})">Next</a>
</div>