<form class="form-narrow form-horizontal">
    <div class="row">
        <div class="col-lg-12">
            <h3>Shipment Data</h3>
        </div>

        <div class="col-lg-12">
            <div>
                <div class="form-group">
                    <label for="street" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">Street Address</label>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="text" class="form-control" id="street" placeholder="Street" ng-model="shipment.streetAddress"/>
                    </div>
                </div>


                <div class="form-group">
                    <label for="streetNumber" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">Street Number</label>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="text" class="form-control" id="streetNumber" placeholder="Street Number" ng-model="shipment.streetNumber"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="zip" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">zip</label>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="text" class="form-control" id="zip" placeholder="Zip" ng-model="shipment.zip"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<div class="row">
    <div class="col-lg-12">
        </hr>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <a class="btn btn-success pull-left" ui-sref="create-new-purchase-order.add-goods-in-purchase-order({'purchaseOrderId': '{{purchaseOrderId}}'})"><span class="glyphicon glyphicon-arrow-left"/> Back</a>
        <a class="btn btn-info pull-right" ng-click="next()">Next</a>
    </div>
</div>