<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.css}"/>
    <link rel="stylesheet" th:href="@{/app/price-list/css.css}"/>

    <link rel="icon" th:href="@{/img/favicon.jpeg}" type="image/x-icon"/>
    <link rel="shortcut icon" th:href="@{/img/favicon.jpeg}" type="image/x-icon"/>

    <title th:inline="text">Public [[#{title}]]</title>
</head>
<body>
<div class="container">
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12"></div>
            </div>
        </div>
    </header>
    <nav class="container-fluid library-background"
         th:fragment="menu" >
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a th:inline="text" class="navbar-brand" th:href="@{/public/index}">[[#{menu.home.label}]]</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <div id="collaspeMenuBody">
                            <ul class="nav navbar-nav">
                                <li><a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/public/index}" th:inline="text">[[#{menu.back.label}]] <span class="glyphicon glyphicon-arrow-left"/> </a></li>
                                <li><a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/private/index}" th:inline="text">[[#{menu.login.label}]] <span class="glyphicon glyphicon-user"/>  </a></li>
                            </ul>
                        </div>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
    </nav>


    <div class="container-fluid">
        <form class="form-narrow form-horizontal" method="post" th:action="@{/public/signup}" th:object="${account}">
            <fieldset>
                <legend>Please Sign Up</legend>
                <div class="form-group" th:classappend="${#fields.hasErrors('userName')}? 'has-error'">
                    <label for="userName" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">User Name</label>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="text" class="form-control" id="userName" placeholder="User Name" th:field="*{userName}" />
                        <span class="help-block" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Incorrect user Name</span>
                    </div>
                </div>


                <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
                    <label for="password" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">Password</label>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}"/>
                        <span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect password</span>
                    </div>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('mail')}? 'has-error'">
                    <label for="mail" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">E-Mail</label>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="text" class="form-control" id="mail" placeholder="E-Mail" th:field="*{mail}" />
                        <span class="help-block" th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}">Invalid E-Mail</span>
                    </div>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('firstName')}? 'has-error'">
                    <label for="firstName" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">First Name</label>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="text" class="form-control" id="firstName" placeholder="First Name" th:field="*{firstName}" />
                        <span class="help-block" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Invalid First Name</span>
                    </div>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('lastName')}? 'has-error'">
                    <label for="lastName" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">Last Name</label>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="text" class="form-control" id="lastName" placeholder="User Name" th:field="*{lastName}" />
                        <span class="help-block" th:if="${#fields.hasErrors('lastName')}" th:errors="*{userName}">Invalid First Name</span>
                    </div>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('taxCode')}? 'has-error'">
                    <label for="lastName" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">Tax Code</label>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="text" class="form-control" id="taxCode" placeholder="User Name" th:field="*{taxCode}" />
                        <span class="help-block" th:if="${#fields.hasErrors('taxCode')}" th:errors="*{taxCode}">Invalid Tax Code</span>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <button type="submit" class="btn btn-default">Sign up</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <p>Already have an account? <a href="signin" th:href="@{/signin}">Sign In</a></p>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>

<script th:src="@{/webjars/angularjs/1.6.4/angular.js}"></script>
<script th:src="@{/webjars/angular-ui-router/1.0.3/angular-ui-router.js}"></script>

<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.js}"></script>
</body>
</html>