<form class="form-narrow form-horizontal">
    <div class="row">
        <div class="col-lg-12">
            <h3>Personal Data</h3>
        </div>

        <div class="col-lg-12">
            <div>
                <div class="form-group">
                    <label for="userName" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">User Name</label>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="text" class="form-control" id="userName" placeholder="User Name" ng-model="account.userName"/>
                    </div>
                </div>


                <div class="form-group">
                    <label for="password" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">Password</label>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="account.password"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="mail" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">E-Mail</label>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="text" class="form-control" id="mail" placeholder="E-Mail" ng-model="account.mail"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="firstName" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">First Name</label>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="text" class="form-control" id="firstName" placeholder="First Name" ng-model="account.firstName"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastName" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">Last Name</label>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="text" class="form-control" id="lastName" placeholder="Last Name" ng-model="account.lastName"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastName" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">Tax Code</label>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="text" class="form-control" id="taxCode" placeholder="Tax Code" ng-model="account.taxCode"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            </hr>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h3>Adress Data</h3>
        </div>

        <div class="col-lg-12">
            <div>
                <div class="form-group">
                    <label for="street" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">Street</label>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="text" class="form-control" id="street" placeholder="Street" ng-model="account.address.street"/>
                    </div>
                </div>


                <div class="form-group">
                    <label for="streenNumber" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">Street Number</label>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="text" class="form-control" id="streenNumber" placeholder="Street Number" ng-model="account.address.streenNumber"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="zip" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">zip</label>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="text" class="form-control" id="zip" placeholder="Zip" ng-model="account.address.zip"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="country" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">Country</label>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="text" class="form-control" id="country" placeholder="Country" ng-model="account.address.country"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="region" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">Region</label>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="text" class="form-control" id="region" placeholder="Region" ng-model="account.address.region"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="city" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">City</label>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="text" class="form-control" id="city" placeholder="City" ng-model="account.address.city"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            </hr>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h3>Telephone Number Data</h3>
        </div>

        <div class="col-lg-12">
            <div>
                <div class="form-group">
                    <label for="countryPrefix" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">Country Prefix</label>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="text" class="form-control" id="countryPrefix" placeholder="Contry Prefix" ng-model="account.telephoneNumber.countryPrefix"/>
                    </div>
                </div>


                <div class="form-group">
                    <label for="prefix" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">Prefix</label>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="text" class="form-control" id="prefix" placeholder="Prefix" ng-model="account.telephoneNumber.prefix"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="telephone" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">Telephone</label>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="text" class="form-control" id="telephone" placeholder="Telephone" ng-model="account.telephoneNumber.telephone"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <button type="submit" class="btn btn-default" ng-click="singup(account)">Sign up</button>
                </div>
            </div>
        </div>
    </div>

</form>