<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>login</title>
</head>
<body>
<div>
    Hello world from account management web app!!!

    <div id="text-area"></div>
</div>
<script th:src="@{/webjars/jquery/3.2.0/jquery.js}"></script>

<script>
    $.get("/site/api/account-service/account.json").then(function (data) {
        console.log("data from proxed gateway: " + data);
        console.log(data['_embedded']);
        $("#text-area").append(JSON.stringify(data['_embedded']));
    });
    $.get("/site/api/product-catalog-service/price-list.json").then(function (data) {
        console.log("data from proxed gateway: " + data);
        console.log(data['_embedded']);
        $("#text-area").append(JSON.stringify(data['_embedded']));
    });
</script>

</body>
</html>